.header
{
    display: flex;
    justify-content: space-between;

    button
    {
        height: 8px;
        cursor: pointer;
        border: none;
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.5;
        background-color: #fff;
    }
}

.content
{
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.save-btn
{
    margin: 8px 0 0 0;
    width: 120px;
    height: 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.5s ease-in-out 0s;
    box-shadow: none;
    font-size: 16px;
}
