.box-wrapper
{
    text-align: center;
    max-width: 480px;
    margin: 0 auto;
    padding: 12px 36px;

    background-color: var(--pomo-accent-color);
}
.current-timer-btn
{
    background-color: var(--darkish-grey);
    transform: translateY(4px);
}

.timer
{
    font-size: 130px;
    font-weight: bold;
    // maybe black is better, but ill chill with this for a sec
    border-bottom: solid 2px var(--darkish-grey);
    width: 100%;
    margin: 20px 0px;
}

.btn-start-wrapper{
    box-sizing: border-box;
    display: block;
    margin-top: 12px;
    
    button
    {
        margin: 8px 0 20px 0;
        padding: 10px 15px;
        line-height: 1.5;
        width: 150px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        transition: color 0.5s ease-in-out 0.5s;
        cursor: pointer;

        background-color: aliceblue;
    }
    .btn-start
    {
        box-shadow: #b7bfc2 0px 6px 0px 0px;
    }
    .btn-stop
    {
        box-shadow: none;
        transform: translateY(6px);
    }
}

